{% extends "base.html" %}

{% block content %}
<h1>Купить кошечку</h1>
<p>нашлось 1 045 объявлений кошек на продажу.
    Подберите понравившегося питомца и свяжитесь с продавцом в два клика.</p>
<!-- Сетка карточек товаров -->
<div class="cards">
    {% for post in posts %}
    <!-- Карточка товара -->
    <div class="card">
        <!-- Верхняя часть -->
        <div class="card__top">
        <!-- Изображение-ссылка товара -->
        <a href="#" class="card__image">
            <img
            src="static\img\{{post.image}}"
            alt="Error"
            />
        </a>
        <!-- Скидка на товар -->
        <div class="card__label">-10%</div>
    </div>
    <!-- Нижняя часть -->
    <div class="card__bottom">
      <!-- Цены на товар (с учетом скидки и без)-->
        <div class="card__prices">
            <div class="card__price card__price--discount">{{post.cost}}</div>
            <div class="card__price card__price--common">{{post.cost * 1.1}}</div>
        </div>
        <!-- Ссылка-название товара -->
        <a href="#" class="card__title">
            
        </a>
        <!-- Кнопка добавить в корзину -->
        <button class="card__add">Купить</button>
    </div>
  </div>
    {% endfor %}
</div>
{% endblock %}
