{% extends "base.html" %}

{% block content %}
<h1>Купить кошку</h1>
<p>нашлось 1 045 объявлений кошек на продажу в Москве, которые соответствуют вашим критериям. 
    Подберите понравившегося питомца и свяжитесь с продавцом в два клика.</p>
<ul class="products clearfix">
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
</ul>
{% endblock %}